body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.leaderboard, .score-table {
    margin-top: 30px;
}
.leaderboard {
    text-align: left;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
}
.leaderboard h2 {
    color: #007BFF;
}
.leaderboard ul {
    list-style-type: none;
    padding: 0;
}
.leaderboard li {
    margin: 10px;
    padding: 8px;
    background: #fff;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.leaderboard li span {
    font-weight: bold;
    color: #007BFF;
}

.btn {
    padding: 8px 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
.btn:hover {
    background-color: #0056b3;
}

.btn-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5%;
    margin:30px;
}